/* articles/index.html */
.index-full-name {
  font-size: 0.75rem;
  color: gray;
}
.index-card-link img {
  transition: all 0.2s linear;
}
.index-card-link:hover img {
  transform: scale(1.1);
}
.index-card-link {
  width: 100%;
  margin: 0px auto;
  overflow: hidden;
  border-radius: 5px;
}

/* detail.html */
.detail-title-div {
  position: relative;
}
.detail-title {
  position: absolute;
  left: 2rem;
  bottom: 1rem;
}